.estilo_botao{
  background: #009e00;
  color: white;
  border-style: outset;
  border-color: #009e00;
  height: 50px;
  width: 140px;
  font: bold 15px arial, sans-serif;
}
.estilo_botao_verificar{
  background: #0066A2;
  color: white;
  border-style: outset;
  border-color: #0066A2;
  height: 50px;
  width: 180px;
  font: bold 15px arial, sans-serif;
}
.estilo_botao_esperar{
  background: #ff0000;
  color: white;
  border-style: outset;
  border-color: #ff0000;
  height: 50px;
  width: 140px;
  font: bold 15px arial, sans-serif;
}
.titulo_pagina{
    font-size:20px;
	text-align:center;
	font-family:arial;
}
.texto_abre_imagem{
	text-align:center;
	font-family:sans-serif;
	font-size:18px;
}